@import './variable.scss';

@font-face {
    font-family: 'FinkHeavy';
    src: local('FinkHeavy'), url(../Fonts/FinkHeavy.ttf)
}

.main {
    background-image: url(../Images/ac-grass.jpg);
    font-family: FinkHeavy;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .llo {
        border-bottom: 3px solid black;
        height: 100px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $green;
        .logo {
            height: 100px;
            margin: 0px 10px;
        }
        .out-links {
            width: 500px;
            height: 75px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .navlinks {
                font-size: 30px;
                text-decoration: none;
                width: 400px;
                display: flex;
                justify-content: space-around;
                .link {
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
    footer {
        height: 5vh;
        width: 80%;
        position: relative;
        bottom: 0px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (width: 568px) {
    .main {
        .llo {
            .logo {
                height: 80px;
            }
            .out-links {
                width: 400px;
                justify-content: space-evenly;
                .navlinks {
                    font-size: 32px;
                }
            }
        }
        footer {
            font-size: 12px;
        }
    }
}

@media (max-width: 420px) {
    .main {
        .llo {
            .logo {
                height: 80px;
            }
            .out-links {
                max-width: 225px;
                min-width: 180px;
                justify-content: space-evenly;
                .navlinks {
                    font-size: 12px;
                }
            }
        }
        footer {
            font-size: 12px;
        }
    }
}


@media (width: 320px) {
    .main {
        .llo {
            .logo {
                height: 65px;
                margin: 0px 10px;
            }
        }
        footer {
            font-size: 10px;
        }
    }
}