.mapped-flowers {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .flower {
        background-color: lightblue;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 5px;
        border-radius: 50px;
        border: solid 5px black;
        .flower-image {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100px;
            }
        }
        .flower-name {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .flower-price {
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .flower-buttons {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .flbutt {
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .amount-input {
                        width: 40px;
                    }
                    button {
                        background-color: white;
                        outline: none;
                        border-radius: 50px;
                        width: 50px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .mapped-flowers {
        .flower {
            .flower-image {
                width: 60px;
                img {
                    width: 55px;
                }
            }
            .flower-name {
                width: 75px;
                text-align: center;
            }
            .flower-price {
                width: 50px;
            }
            .flower-buttons {
                width: 150px;
                p {
                    width: 60px;
                }
                .flbutt {
                    width: 60px;
                    text-align: center;
                }
            }
        }
    }
}