.mapped-fossils {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fossil {
        background-color: lightblue;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 5px;
        border-radius: 50px;
        border: solid 5px black;
        .fossil-name {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .fossil-price {
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .fossil-buttons {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .fobutt {
                display: flex;
                align-items: center;
                button {
                    background-color: white;
                    outline: none;
                    border-radius: 50px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        border-radius: 50px;
                        font-size: 20px;
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .mapped-fossils {
        .fossil {
            .fossil-name {
                width: 125px;
                text-align: center;
            }
            .fossil-price {
                width: 50px;
            }
            .fossil-buttons {
                width: 100px;
            }
        }
    }
}