@import './variable.scss';

.logout {
    .out-butt {
        @extend %button-setting;
    }
}

.login-body {
    height: 95vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .bubble {
        background-color: $green;
        height: 80%;
        width: 80%;
        border: 3px solid black;
        border-radius: 50px;
        .welcome {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                font-size: 40px;
            }
        }
        .login-register {
            display: flex;
            justify-content: center;
            align-items: center;
            .potential {
                width: 500px;
            }
            form {
                // border-radius: 50px;
                height: 300px;
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .inputs {
                    background-image: url(../Images/brick-path.png);
                    border: 3px dotted #b25821;
                    height: 200px;
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    .username-i {
                        width: 350px;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-size: 30px;
                        }
                        .username {
                            width: 300px;
                        }
                    }
                    .password-i {
                        width: 350px;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-size: 30px;
                        }
                        .password {
                            width: 300px;
                        }
                    }
                    .login-buttons {
                        .submit {
                            @extend %button-setting;
                        }
                        .switcher {
                            @extend %button-setting;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                height: 300px;
                justify-content: space-around;
                p {
                    width: 600px;
                    font-size: 48px;
                    text-align: center;
                }
                img {
                    width: 300px;
                }
            }
            .login-register {
                height: 300px;
                justify-content: space-evenly;
                .potential {
                    width: 300px;
                    img {
                        width: 300px;
                    }
                }
                form {
                    height: 300px;
                    width: 300px;
                    .inputs {
                        border-radius: 50px;
                        width: 300px;
                        .username-i {
                            align-items: center;
                        }
                        .password-i {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                height: 300px;
                justify-content: space-around;
                p {
                    font-size: 26px;
                    text-align: center;
                }
                img {
                    width: 200px;
                }
            }
            .login-register {
                height: 400px;
                flex-direction: column;
                justify-content: space-evenly;
                .potential {
                    width: 200px;
                    img {
                        width: 200px;
                    }
                }
                form {
                    height: 200px;
                    width: 200px;
                    .inputs {
                        border-radius: 50px;
                        width: 200px;
                        .username-i {
                            align-items: center;
                        }
                        .password-i {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                height: 300px;
                justify-content: space-around;
                p {
                    font-size: 26px;
                    text-align: center;
                }
                img {
                    width: 200px;
                }
            }
            .login-register {
                height: 400px;
                flex-direction: column;
                justify-content: space-evenly;
                .potential {
                    width: 200px;
                    img {
                        width: 200px;
                    }
                }
                form {
                    height: 200px;
                    width: 200px;
                    .inputs {
                        border-radius: 50px;
                        width: 200px;
                        .username-i {
                            align-items: center;
                        }
                        .password-i {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}