@import './variable.scss';

.logout {
    .out-butt {
        @extend %button-setting;
    }
}

.login-body {
    height: 95vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .bubble {
        background-color: $green;
        height: 80%;
        width: 80%;
        border: 3px solid black;
        border-radius: 50px;
        .welcome {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                font-size: 40px;
            }
        }
        .login-register {
            display: flex;
            justify-content: center;
            align-items: center;
            .potential {
                width: 500px;
            }
            form {
                height: 300px;
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .inputs {
                    background-image: url(../Images/brick-path.png);
                    border: 3px dotted #b25821;
                    height: 200px;
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    .username-i {
                        width: 350px;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-size: 30px;
                        }
                        .username {
                            width: 300px;
                        }
                    }
                    .password-i {
                        width: 350px;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-size: 30px;
                        }
                        .password {
                            width: 300px;
                        }
                    }
                    .login-buttons {
                        .submit {
                            @extend %button-setting;
                        }
                        .switcher {
                            @extend %button-setting;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .login-body {
        .bubble {
            .welcome {
                p {
                    text-align: center;
                }
            }
            .login-register {
                justify-content: space-evenly;
                .potential {
                    width: 30vw;
                    img {
                        width: 30vw;
                    }
                }
                form {
                    width: 30vw;
                    .inputs {
                        width: 30vw;
                        .username-i {
                            width: 25vw;
                        }
                        .password-i {
                            width: 25vw;
                        }
                    }
                }
            }
        }
    }
}

@media (width: 1366px) {
    .login-body {
        .bubble {
            .login-register {
                .potential {
                    width: 450px;
                    img {
                        width: 450px;
                    }
                }
            }
        }
    }
}

@media (height: 1366px) {
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                height: 400px;
                justify-content: space-around;
                p {
                    width: 600px;
                    font-size: 48px;
                    text-align: center;
                }
                img {
                    width: 400px;
                }
            }
            .login-register {
                height: 700px;
                flex-direction: column;
                justify-content: space-evenly;
                .potential {
                    width: 500px;
                    img {
                        width: 500px;
                    }
                }
                form {
                    height: 300px;
                    width: 500px;
                    .inputs {
                        height: 300px;
                        width: 500px;
                        .username-i {
                            width: 480px;
                            text-align: center;
                            label {
                                font-size: 50px;
                            }
                        }
                        .password-i {
                            width: 480px;
                            text-align: center;
                            label {
                                font-size: 50px;
                            }
                        }
                    }
                    .login-buttons {
                        .submit {
                            font-size: 24px;
                        }
                        .switcher {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media (height: 768px){
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                justify-content: space-around;
                p {
                    width: 600px;
                    font-size: 48px;
                    text-align: center;
                }
                img {
                    width: 300px;
                }
            }
            .login-register {
                justify-content: space-evenly;
                .potential {
                    width: 300px;
                    img {
                        width: 300px;
                    }
                }
                form {
                    height: 300px;
                    width: 300px;
                    .inputs {
                        border-radius: 50px;
                        width: 300px;
                        .username-i {
                            width: 280px;
                            text-align: center;
                        }
                        .password-i {
                            width: 280px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                height: 350px;
                justify-content: space-around;
                p {
                    width: 400px;
                    font-size: 42px;
                    text-align: center;
                }
                img {
                    width: 35vw;
                }
            }
            .login-register {
                height: 50vh;
                flex-direction: column;
                justify-content: space-evenly;
                .potential {
                    width: 40vw;
                    img {
                        width: 40vw;
                    }
                }
                form {
                    height: 20vh;
                    width: 300px;
                    .inputs {
                        border-radius: 50px;
                        width: 300px;
                        .username-i {
                            width: 280px;
                            text-align: center;
                        }
                        .password-i {
                            width: 280px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (width: 812px), (width: 823px) {
    .login-body {
        .bubble {
            .welcome {
                height: 100px;
                flex-direction: row;
                p {
                    width: 300px;
                    font-size: 20px;
                    text-align: center;
                }
                img {
                    width: 150px;
                }
            }
            .login-register {
                height: 180px;
                justify-content: space-around;
                .potential {
                    width: 250px;
                    img {
                        width: 250px;
                    }
                }
                form {
                    height: 150px;
                    width: 200px;
                    .inputs {
                        height: 150px;
                        width: 200px;
                        .username-i {
                            width: 180px;
                            text-align: center;
                            label {
                                font-size: 20px;
                            }
                        }
                        .password-i {
                            width: 180px;
                            text-align: center;
                            label {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width: 667px), (width: 731px), (width: 736px){
    .login-body {
        .bubble {
            .welcome {
                height: 130px;
                flex-direction: row;
                p {
                    width: 200px;
                    font-size: 20px;
                    text-align: center;
                }
                img {
                    width: 180px;
                }
            }
            .login-register {
                height: 200px;
                flex-direction: row;
                justify-content: space-around;
                .potential {
                    width: 250px;
                    img {
                        width: 250px;
                    }
                }
                form {
                    height: 100px;
                    width: 150px;
                    .inputs {
                        border-radius: 0px;
                        height: 100px;
                        width: 150px;
                        .username-i {
                            width: 130px;
                            text-align: center;
                            label {
                                font-size: 10px;
                            }
                        }
                        .password-i {
                            width: 130px;
                            text-align: center;
                            label {
                                font-size: 10px;
                            }
                        }
                    }
                    .login-buttons {
                        .submit {
                            font-size: 8px;
                        }
                        .switcher {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (width: 568px), (width: 640px){
    .login-body {
        .bubble {
            .welcome {
                height: 100px;
                flex-direction: row;
                p {
                    width: 200px;
                    font-size: 20px;
                    text-align: center;
                }
                img {
                    width: 150px;
                }
            }
            .login-register {
                height: 150px;
                flex-direction: row;
                justify-content: space-around;
                .potential {
                    width: 150px;
                    img {
                        width: 150px;
                    }
                }
                form {
                    height: 100px;
                    width: 150px;
                    .inputs {
                        border-radius: 0px;
                        height: 100px;
                        width: 150px;
                        .username-i {
                            width: 130px;
                            text-align: center;
                            label {
                                font-size: 10px;
                            }
                        }
                        .password-i {
                            width: 130px;
                            text-align: center;
                            label {
                                font-size: 10px;
                            }
                        }
                    }
                    .login-buttons {
                        .submit {
                            font-size: 8px;
                        }
                        .switcher {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .login-body {
        .bubble {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .welcome {
                height: 300px;
                justify-content: space-around;
                p {
                    width: 200px;
                    font-size: 26px;
                    text-align: center;
                }
                img {
                    width: 200px;
                }
            }
            .login-register {
                height: 400px;
                flex-direction: column;
                justify-content: space-evenly;
                .potential {
                    width: 200px;
                    img {
                        width: 200px;
                    }
                }
                form {
                    height: 200px;
                    width: 200px;
                    .inputs {
                        border-radius: 50px;
                        width: 200px;
                        .username-i {
                            align-items: center;
                        }
                        .password-i {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (width: 320px) {
    .login-body {
        height: 100vh;
        width: 100vw;
        .bubble {
            .welcome {
                p {
                    width: 150px;
                    font-size: 20px;
                }
            }
            .login-register {
                form {
                    justify-self: flex-end;
                    height: 160px;
                }
            }
        }
    }
}