@import './variable.scss';

.logout {
    .out-butt {
        @extend %button-setting;
    }
}

.login-body {
    height: 95vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .bubble {
        background-color: $green;
        height: 80%;
        width: 80%;
        border: 3px solid black;
        border-radius: 50px;
        .welcome {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                font-size: 50px;
            }
        }
        .login-register {
            display: flex;
            justify-content: center;
            align-items: center;
            .potential {
                width: 500px;
            }
            form {
                border-radius: 50px;
                height: 300px;
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .inputs {
                    background-image: url(../Images/brick-path.png);
                    border: 3px dotted #b25821;
                    height: 200px;
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    .username-i {
                        width: 350px;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-size: 30px;
                        }
                        .username {
                            width: 300px;
                        }
                    }
                    .password-i {
                        width: 350px;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-size: 30px;
                        }
                        .password {
                            width: 300px;
                        }
                    }
                    .login-buttons {
                        .submit {
                            @extend %button-setting;
                        }
                        .switcher {
                            @extend %button-setting;
                        }
                    }
                }
            }
        }
    }
}